.App {
  font-family: "Lucida Console", "Courier New", monospace;
}


.App-header {
  background-color: #db91cf;
  background-image: url("/public/images/flamingos.jpg");
  background-size: cover;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(219, 155, 154, 0.877);
  font-family: "Lucida Console", "Courier New", monospace;
}

.intro {
  min-height: 10vh;
  background-color: rgba(219, 155, 154, 0.877);
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: calc(10px + 1vmin);
  
}

h2 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.im-one {
  background-image: url("/public/images/chunking1.png");
  background-size: 100% ;
  min-height: 25rem;
}

.im-two {
  background-image: url("/public/images/chunking2.png");
  background-size: 100% ;
  min-height: 25rem;
}

.body {
  margin-right: 5%;
  margin-left: 5%;
}
